
.nav {
    text-align: right;
   
}
 .navbutton {
    border-radius: 20px;
    height: 48px;
    line-height: normal;
    box-sizing: border-box;
    padding: 0 4px;
    flex: 0 0 auto;
    box-shadow: 1px;
    padding: 5 5 5 5;
 }

 .foto {
    margin-top:0px;
 }

 .logo {
  margin-top: 200px;
 }

 .ortala {
    margin-left: 40%;
    margin-right:40%;
  }
  .buttons {
    margin-right: 15px;
  }

  .footer {
    margin-top: 300px;
    background-color: #70757a;
  }

  .footer1 {
    text-align: left;
    margin-bottom:0px;
    float: left;
    
  }
.footer2 {
    text-align: right;
    margin-bottom: 0px;
}

.yazi{
    color: rgb(237, 232, 232);
}